.profile-header {
        background-color: $color1 !important;
}

.profile-headerIcon, .profile-headerIcon svg {
	color: #F6DEE4 !important;
	fill:  #F6DEE4 !important;
}

.profile-headerLabel, .profile-headerLabel > span {
	color: $color4 !important;
}

.profile-headerLogo {
	margin-top: 0px !important;
	img {
		display:none;
	}
}
.profile-headerLogo::before {
	color: $color4;
	content: 'Co-Teach Informatica';
	font-size: 18px;
	display: inline-block;
	width: 100px;
}

.profile-body { 
	background-color: $color3 !important;
	color: $color2 !important;
}

.profile-navigation {
	color: $color2 !important;
	background-color: #F1F0F2 !important;
}

.profile-tile {
	border-bottom-color: $color4 !important;
}
.profile-tileHeader {
	background-color: $color4 !important;
}
.profile-tileBody {
	background-color: $color3 !important;
}
.profile-tile:hover .profile-tileHeader {
	background-color: $color1 !important;
}
div:hover > .profile-tile .profile-tileBody {
	border-bottom-color: $color1 !important;
}

.profile-tileFooter {
	background-color: transparent !important;
}

.profile-subheaderLabel {
	color: $color1 !important;
}
.profile-subheaderLogo {
	background-color: $color4 !important;
}
.lesstof .profile-subheaderType::before {
	content: $lesstof !important;
}

.toets .profile-subheaderType::before {
	content: $toets !important;
}

.profile-navigationFOLDER::before {
	content: $folder !important;
}
.profile-navigationMODULE::before {
	content: $module !important;
}
.profile-navigationSCO::before {
	content: $sco !important;
}

.profile-login {
	background-color: $color3;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder           { @content }
  &::-moz-placeholder          { @content }
  &:-ms-input-placeholder      { @content }  
}


.profile-loginPanel {
    background-color: $color1;
	color: $color4;
	
	input {
		background-color: $color3;
		color: $color1;
		@include placeholder {
			color: $color4;
		}
	}	
	button, input[type="submit"] {
		background-color: $color4;
		color: $color2;		
	}
	
	input::placeholder {
			color: $color4;
	}
}

.profile-loginLinks {
	color: $color1;
	a {
		color: $color1;
	}
}

.profile-loginLogo {
	display: none;
}

.profile-loginTitle {
	&::before {
		content: "Co-Teach Informatica";
		width: auto;
		color: $color1;
		overflow: visible;
		font-size: 4em;
		font-weight: bold;
		margin-left: -70px;
	}
	p {
		display: none
	}
}