.profile-header {
        background-color: $color1 !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
}

.profile-headerIcon, .profile-headerIcon svg {
	color: $color5 !important;
	fill:  $color5 !important;
}

.profile-headerLabel, .profile-headerLabel > span, .profile-headerLabel >  a {
	color: $color4 !important;
}

.profile-headerLogo {
	margin-top: 0px !important;
	img {
		display:none;
	}
}
.profile-headerLogo::before {
	color: $color4;
	content: 'Co-Teach Informatica';
	font-size: 18px;
	display: inline-block;
	width: 100px;
}

.profile-body { 
	background-color: $color3 !important;
	color: $color2 !important;
	box-shadow: none !important;
}

.profile-navigation {
	color: $color2 !important;
	background-color: $color6 !important;
	box-shadow: none !important;
}

.profile-tile {
	border-bottom-color: $color4 !important;
}
.profile-tileHeader {
	background-color: $color4 !important;
}
.profile-tileBody {
	background-color: white !important;
}
.profile-tile:hover .profile-tileHeader {
	background-color: $color1 !important;
}
div:hover > .profile-tile .profile-tileBody {
	border-bottom-color: $color1 !important;
}

.profile-tileFooter {
	background-color: transparent !important;
}

.profile-subheader {
	box-shadow: none !important;
}

.profile-subheaderLabel {
	color: $color1 !important;
}
.profile-subheaderLogo {
	background-color: $color4 !important;
}
.lesstof .profile-subheaderType::before {
	content: $lesstof !important;
}

.toets .profile-subheaderType::before {
	content: $toets !important;
}

.profile-navigationFOLDER::before {
	content: $folder !important;
}
.profile-navigationMODULE::before {
	content: $module !important;
}
.profile-navigationSCO::before {
	content: $sco !important;
}

.profile-login {
	background-color: $color3;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder           { @content }
  &::-moz-placeholder          { @content }
  &:-ms-input-placeholder      { @content }  
}


.profile-loginPanel {
    background-color: $color1;
	color: $color4;
	
	input {
		background-color: $color3;
		color: $color1;
		@include placeholder {
			color: $color4;
		}
	}	
	button, input[type="submit"] {
		background-color: $color4;
		color: $color2;		
	}
	
	input::placeholder {
			color: $color4;
	}
}

.profile-loginLinks {
	color: $color1;
	a {
		color: $color1;
	}
}

.profile-loginLogo {
	display: none;
}

.profile-loginTitle {
	&::before {
		content: "Co-Teach Informatica";
		width: 800px;
		color: $color1;
		overflow: visible;
		font-size: 60px;
		font-family: Ubuntu, sans-serif;
		font-weight: bold;
		margin-left: -70px;
		display: inline-block;
	}
	p {
		display: none
	}
}

#mainPanel {

.options .option label {
	color: white;
	background-color: $color4;
}

h1, h3, label.buttonLabel, label, table thead tr th, p {
	color: $color1; 
}
h2.sectionhead span  {
	background-color: $color1 !important; 
}

section.dialog {
	background-color: $color3;
	h4 {
		background-color: $color1; 
	}
    &.alert h4 {
		background-color: red;
	}
}

input[type="text"], input[type="password"], select, .options .option label, table.dwo tbody {
	border: 2px $color1 solid;
}

.checkbox input:checked ~ label.icon {
  background-color: $color1;
  border: 2px $color1 solid;
}

input[type="submit"].danger, input[type="button"].danger, button.danger, .pseudobutton.danger, label.pseudobutton.danger {
  background-color: red;
  border-color: red;
}

input[type="submit"], input[type="button"], button, .pseudobutton, label.pseudobutton,
	.options .option input:checked ~ label
 {
	border: 2px $color1 solid;
	background-color: $color1;
	color: white;
}

nav {
	background-color: $color7;
	ul.WELCOME 		 li a[href="#WELCOME"], 
	ul.RESULTS 		 li a[href="#RESULTS"], 
	ul.KNOWLEDGE 	 li a[href="#KNOWLEDGE"],
	ul.PERSONS 		 li a[href="#PERSONS"], 
	ul.SCHOOLCLASSES li a[href="#SCHOOLCLASSES"], 
	ul.MODULES 		 li a[href="#MODULES"], 
	ul.ORGANISATION  li a[href="#ORGANISATION"], 
	ul.CHATBOX 		 li a[href="#CHATBOX"]
	 {
    	color: $color1 !important;
		svg use { 
			fill: $color1 !important;
		}
	}
	ul.WELCOME li a[href="#WELCOME"] span.icon {
		background-color: $color1;
	}
	
	ul li a:hover {
		color: $color1;
		svg.icon use {
			fill: $color1;
		}
		&[href='#WELCOME'] {
			span.icon {
				color: white;
				background-color: $color1;
			}
		}
	}
}
h2.helpheader {
	color: $color1;
	background-color: $color4;
}

.subpanel header section#help.active h2.helpheader {
  background-color: $color4;
  border-left-color: $color1;
}
.subpanel header section#help.active .content {
  border-left-color: $color1;
}
.subpanel header section#help .content {
  background-color: $color5;
}


h1.sectionhead, .subpanel header, .subpanel header section#help h2.helpheader {
	border-bottom: 1px $color1 solid;
}

header #accountMenuBox {
	background-color: $color1;
	#accountMenuSchoolName, #accountMenuUserRole, #accountMenuPresentationName {
		color: $color4;
	}
}

#welcomeDisplayPanel {
	background-color: $color3;
	a {
		color: $color1;
	}
}

table.dwo thead tr th .sortButton .icon use {
  fill: $color5;
}
table.dwo thead tr th .sortButton.active .icon use {
  fill: $color1;
}

table.dwo.sortable, table.dwo.results {
	tbody {
		border-top: none;
	}
	thead {
	border-left: 2px $color1 solid;
	border-right: 2px $color1 solid;
	border-top: 2px $color1 solid;

	tr.sorting, tr.headers {
		background-color: $color4;
		th:first-child {
			background-color: $color4;	
		}
	}
}
}


table.dwo.results.alternativeHeader thead {
	tr.sorting, tr.headers {
		background-color: white;
		th:first-child {
			background-color: white;	
		}
	}
}

}
/* chatbox */
#eastheader .checkbox span input:checked ~ label {
	background-color: $color1;		
	border-color: $color1;
}

.profile-borderBox, table.dwo tbody {
	border-color: $color1 !important;
}

i.send.fa, div.filter-title {
	background-color: $color1;	
}
table.dwo thead th, span.klasnaam, .eastheader, div.header.gwt-Label, .description-title, .lightbox header, a.backlink, h2#selectedResultsTitle {
	color: $color1 !important;
}

a.backlink svg.icon use {
	fill: $color1 !important;
} 
