/*
 * inf.css
 */
$headerTitle: 'Co-Teach Informatica';

$color1 : #6D4A8A;
$color2 : #3D3661;
$color3 : #FAF8FC;
$color4 : #D2CAD8;
$color5 : #F6DEE4;
$color6 : #F1F0F2;
$color7 : #dde0e3;

$content: white;
$loginbackground: $color3;
$headerbackground: $color1;
$textcolor: $color1;
$headercolor: $color4;
$selectcolor: $color1;
$navigationcolor: $color2;


$toets  : url('toets-inf.svg');
$lesstof: url('lesstof-inf.svg');

$module: url('module-inf.svg');
$folder: url('folder-inf.svg');
$sco:    url('activiteit-inf.svg');
$info:   url('info-inf.svg');

@import "_template.scss";


#modulesDisplayPanel {
	position: absolute;
	right: 54px;
	width: unset;
	left: 54px;
}

#mainPanel {
  nav {
	top: 50px;
	ul {
		margin-left: 14px;
		li.profile-welcome {
			display: list-item;
		}
  	}
  }
  .subpanel header .pageIcon {
	display: none;
  }
}

#mainPanel.expandedNav nav ul {
	margin-top: 18px;
}


.subpanel header {
	left: 54px;
	div.content {
		margin-left: 18px;
	}
}


@media only screen and (min-width: 1366px) {
	#modulesDisplayPanel {
		left: 212px;
		right:212px;
	}
	.subpanel header {
		left: 212px;
	}
	#mainPanel nav ul {
		margin-top: 18px;
	}
}
