/*
 * inf.css
 */

$color1 : #6D4A8A;
$color2 : #3D3661;
$color3 : #FAF8FC;
$color4 : #D2CAD8;

$toets  : url('toets-inf.svg');
$lesstof: url('lesstof-inf.svg');

$module: url('module-inf.svg');
$folder: url('folder-inf.svg');
$sco:    url('activiteit-inf.svg');

@import "_template.scss";