@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
 * numworx.css
 */
$headerTitle: 'Wiskunde Actief';

$color1 : #056C89;
$color2 : #023653;
$color3 : #FFFFFF;
$color4 : #88B4B1;
$color5 : #C3E4E9;
$color6 : #FFFFFF;
$color7 : $color4;
$content: $color6;
$loginbackground: #023653B3;
$headerbackground: $color1;
$textcolor: black;
$headercolor: white;


$toets  : url('toets-inf.svg');
$lesstof: url('lesstof-inf.svg');

$module: url('module-inf.svg');
$folder: url('folder-inf.svg');
$sco:    url('activiteit-inf.svg');
$info:   url('info-inf.svg');

@import "_template.scss";


#modulesDisplayPanel {
	position: absolute;
	right: 54px;
	width: unset;
	left: 54px;
}

main#mainPanel.expandedNav nav {
  background-color: $color7;
  box-shadow: none;
}

main#mainPanel {
  background-color: white;
  > header {
	background-image: linear-gradient($color1, $color7);	
  }
  nav {
	top: 50px;
	ul {
		margin-left: 14px;
		li.profile-welcome {
			display: list-item;
			
		}
		a {
		color: white;
		}
  	}
  }
  .subpanel header .pageIcon {
	display: none;
  }
}

#mainPanel.expandedNav nav ul {
	margin-top: 18px;
}


.subpanel header {
	left: 54px;
	div.content {
		margin-left: 18px;
	}
}


@media only screen and (min-width: 1366px) {
	#modulesDisplayPanel {
		left: 212px;
		right:212px;
	}
	.subpanel header {
		left: 212px;
	}
	#mainPanel nav ul {
		margin-top: 18px;
	}
}

html {
	font-family: "Montserrat", sans-serif !important;
}

#mainPanel {
	button, input[type='submit'] {
		font-family: "Poppins", sans-serif !important;
	}
}
#mainPanel nav ul li a .icon use {
	fill: $color5;
}

#loginDisplayPanel .container .profile-loginTitle::before {
	color: white;
	font-family: 'Montserrat';
}

#loginBox {
	.profile-loginPanel {
    	background-color: transparent;
		color: white;
	}

	.profile-loginLinks {
		color: white;
		a {
			color: white;
		}
	}
}


#mainPanel {
	p, div.gwt-Label {
		font-family: 'Poppins'; 
	}
}
